body{
    height:100vh;
    width:100vw;
}
.busted{
    height:100vh;
    width:100vw;
    z-index:10;
    position: absolute;
}


.bg-lightgreen{
    background-color:lightgreen;
}

.tableSize{
    height:75%;
    width:75%;
}

.tableBorder{
    border:solid brown 5px;
    border-radius: 10px;
}

.handSize{
    height:30%;
}

.pos-relative{
    position:relative;
}

.pos-absolute{
    position:absolute;
}

.button-container{
    width:100%;
    height:25%
}

.height100{
    height:100%;
}